#logo {
    /* max-width: 35rem;
    max-height: 25rem; */
    margin-top: 3rem;
    object-fit: contain;
}

.flex {
    display: flex;
    margin-top: 2rem;
}

.label {
    text-decoration: underline;
}

#info {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
}

#info p {
    flex-basis: 100%;
    font-size: 2rem;
}

#info h1 {
    font-size: 5rem;
}

#symbole {
    margin-left: 1rem;
    max-width: 6rem;
    max-height: 4rem;
    object-fit: contain;
}

.uneCarte {
    height: 3px;
}

.desc {
    color: brown;
}
h2 {
    margin-top: 2rem;
}
label{
    flex-basis: 100%;
    font-size: 2em;
}
select{
    width: 5em;
}
.desc{
    flex-basis: 100%;
}
.boutonsupprimer{
    width:5em;
}